{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".prettierrc, .babelrc",
      "options": {"parser": "json"}
    }
  ]
}
